#userDetail
  mt-header(fixed title='详细资料')
    mt-button(icon='back' slot='left' @click='jumpContacts') 联系人

  mt-cell.userinfo
    img.portrait(src='@@/image/yufou.png' width='54' height='54')
    .maininfo
      p {{ friendInfo.F_Name || friendInfo.U_NickName }}
      p chatId: {{ friendInfo.U_UserID }}
      p(v-if='friendInfo.F_Name') 昵称: {{ friendInfo.U_NickName }}

  .operate
    mt-cell.remark(title='设置备注' @click.native='modifyRemark')
      img.more(src='/image/owner/more.svg' width='20' height='20')
    mt-cell.email(title='邮箱' :value='friendInfo.U_Email' @click.native='copyEmail(friendInfo.U_Email)')

  mt-cell.birthday(title='生日' :value='birthday')
  mt-cell.address(title='所在地' :value='friendInfo.U_Address')

  mt-button.sendMessage(size='large' @click='enterFriendChatView') 发消息

  mt-button.exit(size='large' @click='deleteOptions') 删除好友

  mt-actionsheet(:actions='actions' v-model='sheetVisible')
    