#login
    mt-header(fixed title='用户验证中心')
        mt-button(slot='right' @click='validLogin') 登录

    mt-field.user(label='用户名' placeholder='请输入用户名' v-model='username')
    mt-field(label='密码' type='password' placeholder='请输入密码' v-model='password')
    verify-code(idName='asd')
