/*
 * mint-ui样式补充
 */

body {
  margin: 0;
}

input::-webkit-input-placeholder{
  color: #7b535388;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color: #7b535388;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color: #7b535388;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color: #7b535388;
}

header.mint-header {
  height: 50px;
  font-size: 16px;
  background: #7b5353;
}

.mint-indicator-wrapper {
  z-index: 999;
  opacity: 0.8;
}

.mint-indicator-mask {
  z-index: 998;
  opacity: 0.2;
  background: #fafafa;
}

.mint-search {
  height: inherit;
}

.mint-searchbar {
  z-index: 0;
}

.mint-searchbar-inner {
  height: 1.5em;
}

.mint-searchbar-cancel {
  color: #7b5353;
}

.mint-msgbox {
  border-radius: 20px;
}


/*
 * transition动画
 */


/* fade路由动画 */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* slide-right路由动画 */
.slide-right-enter-active, .slide-right-leave-active {
  transition: all 0.2s ease;
}
.slide-right-enter, .slide-right-leave-to {
  transform: translateX(100%);
}
.slide-right-enter-to,.slide-right-leave {
  transform: translateX(0);
}

/* friend-slider动画 */
.friend-slider-enter-active {
  animation: friend-slider-enter .5s;
}
.friend-slider-leave-active {
  animation: friend-slider-leave .5s;
}
@keyframes friend-slider-enter {
  from {
    left: 55%;
  }
  to {
    left: 5%;
  }
}
@keyframes friend-slider-leave {
  from {
    left: 5%;
  }
  to {
    left: 55%;
  }
}
/* group-slider动画 */
.group-slider-enter-active {
  animation: group-slider-enter .5s;
}
.group-slider-leave-active {
  animation: group-slider-leave .5s;
}
@keyframes group-slider-enter {
  from {
    right: 55%;
  }
  to {
    right: 5%;
  }
}
@keyframes group-slider-leave {
  from {
    right: 5%;
  }
  to {
    right: 55%;
  }
}