@mixin position($top, $right, $bottom) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
}

$coffee: #7b5353;
$background: #f3f3f3;

#register {
  @include position(0, 0, 0);
  left: 0;
  background: $background;
  z-index: 2;
  color: $coffee;

  .nav {
    margin-top: 70px;

    .title {
      margin-left: 1em;
      font-size: 20px;
    }

    .mt-progress {

      .mt-progress-content {
        overflow: hidden;
  
        .mt-progress-progress {
          background: $coffee;
  
          &::after {
            content: '';
            display: block;
            @include position(-2.5px, -30px, -2.5px);
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 30px solid $coffee;
          }
  
        }
  
      }
  
    }

  }

  .page-tab-container {
    .prompt {
      margin-top: 10px;
      text-align: center;
      font-size: 20px;
    }

    .email, .user {
      margin-top: 30px;
    }

    .emailbtn {
      margin-top: 30px;
      background: #f47920;
      color: $background;
    }

  }

}