#register
  mt-header(fixed title='注册')
    mt-button(icon='back' slot='left' @click='backLogin' v-if='!!backRoute') 返回
  .nav
    .title {{ titleArray[step - 1] }}
    mt-progress(:value='size' :bar-height='5')
    //- mt-button(@click='increment') 增长


    //- mt-button(size="small" @click.native.prevent="active = 'animation1'") tab 1
    //- mt-button(size="small" @click.native.prevent="active = 'animation2'") tab 2
    //- mt-button(size="small" @click.native.prevent="active = 'animation3'") tab 3
  .page-tab-container
    mt-tab-container(v-model='active' swipeable)
      mt-tab-container-item(id='email')
        .prompt 输入邮箱
        mt-field.email(placeholder='常用邮箱' v-model='email')
        mt-button.emailbtn(size='large' @click='validEmail') 下一步，验证邮箱
      mt-tab-container-item(id='captcha')
        mt-field.user(label='用户名' placeholder='请输入用户名')
        mt-field(label='密码' type='password' placeholder='请输入密码')
        mt-field.vCode(label='验证码' )
      mt-tab-container-item(id='fillInfo')
        mt-field.user(label='用户名' placeholder='请输入用户名')
        mt-field(label='密码' type='password' placeholder='请输入密码')
        mt-field.vCode(label='验证码' )

