#register
  mt-header(fixed title='注册')
    mt-button(icon='back' slot='left' @click='backLogin' v-if='!!backRoute') 返回
    mt-button(icon='more' slot="right" @click.native='moreOption')

  .nav
    .title {{ titleArray[step - 1] }}
    mt-progress(:value='size' :bar-height='5')

  .page-tab-container
    mt-tab-container(v-model='active' swipeable)
      mt-tab-container-item(id='email')
        .prompt 输入邮箱
        mt-field.email(placeholder='常用邮箱' v-model='email')
        mt-button.emailbtn(size='large' @click='validEmail') 下一步，验证邮箱
      mt-tab-container-item(id='captcha')
        .prompt 输入邮箱验证码
        .sentTitle 验证码已发送至 {{ email }}
        code-box(ref='codeBox')
        mt-button(:class='{countdown: !disp}' size='large' :disabled='!!disp' @click='sendEmail(false)') {{ disp ? disp + 's后可' : '' }}重新获取
        mt-button.captchabtn(size='large' @click='vaildCaptcha') 下一步，填写注册信息
      mt-tab-container-item(id='fillInfo')
        .prompt 填写注册信息
        mt-field.userId(label='YF_ID' placeholder='输入YF_ID' v-model='yf_id')
        mt-field.userName(label='用户名' placeholder='输入用户名' v-model='username')
        mt-field.password(label='密码' type='password' placeholder='输入密码' v-model='password')
        mt-field.regainPW(label='确认密码' type='password' placeholder='再次输入密码' v-model='regainPW')
        mt-button.completed(size='large' @click='completed') 完成注册
        mt-button.backup(size='large' @click='backup') 返回上一步

  mt-actionsheet(:actions='actions' v-model='sheetVisible')

