#register
    mt-header(fixed title='注册')
      mt-button(icon='back' slot='left' @click='backLogin') 返回

    mt-field.user(label='用户名' placeholder='请输入用户名')
    mt-field(label='密码' type='password' placeholder='请输入密码')
    mt-field.vCode(label='验证码' )
