.codeBox
  input.my-input(maxlength='1' ref='box0' v-model='codeList[0]' @input='checkInput')
  input.my-input(maxlength='1' ref='box1' v-model='codeList[1]' @input='checkInput')
  input.my-input(maxlength='1' ref='box2' v-model='codeList[2]' @input='checkInput')
  input.my-input(maxlength='1' ref='box3' v-model='codeList[3]' @input='checkInput')
  input.my-input(maxlength='1' ref='box4' v-model='codeList[4]' @input='checkInput')
  input.my-input(maxlength='1' ref='box5' v-model='codeList[5]' @input='checkInput')
  .cover(@click='init')