div.owner
  mt-cell.userinfo(@click.native='jumpPersonalInfo')
    img.portrait(src='@@/image/yufou.png' width='54' height='54')
    .maininfo
      p {{ nickname }}
      p chatId: {{ chatId }}
    .moreinfo
      img.qrcode(src='/image/owner/qrcode.svg' width='20' height='20')
      img.more(src='/image/owner/more.svg' width='20' height='20')

  mt-cell.config(title='设置' @click.native='jumpSetting')
    img(slot='icon' src='/image/owner/setting.svg' width='20' height='20')
    img.more(src='/image/owner/more.svg' width='20' height='20')
    