#app
  mt-header(fixed :title='selectedHead[selectedTab]')
    //- router-link(to='/register' slot='left')
    //-   mt-button(icon='back') 返回
    mt-button(icon='search' slot='right')
  component(:is='selectedTab')
  mt-tabbar(fixed v-model='selectedTab')
    mt-tab-item(v-for='item in tablist' :id='item.id' :key='item.id')
      img(slot='icon' :src='getImgSrc(item.imgSrc)')
      span {{ item.title }}
  keep-alive
    router-view
