.message
  messageRecord(v-for='(message, index) in messageList'  :title='message.content' :time='message.time' :value='message' :key='index' @enterGroupChatView='enterGroupChatView' @enterFriendChatView='enterFriendChatView')
  