#home
  mt-header(fixed :title='selectedHead[selectedTab]')
    mt-button(icon='search' slot='right')
  mt-tabbar(fixed v-model='selectedTab')
    mt-tab-item(v-for='item in tablist' :id='item.name' :key='item.name' :to='item.name')
      img(slot='icon' :src='getImgSrc(item.imgSrc)')
      span {{ item.title }}
      div.router-link
        router-link(:to='item')
  transition(:name='animation')
    keep-alive
      router-view
