.friendGroup
  .group-header(@click='toggleShow')
    img.icon(src='./lib/drop-down.svg' width='20' height='20' :class='{dropDown}')
    .group-name  {{ groupInfo.FG_Name }}

  .group-content
    transition(name='drop-down')
      .group-members(v-if='dropDown')
        .group-member(v-for='(value, key) in groupInfo.rows' :key='key' @click='selectMember(value.User.U_ID)')
          img.portrait(src='@@/image/yufou.png' width='40' height='40')
          .userInfo
            .username {{ value.F_Name || value.User.U_NickName }}
            .singature [{{ value.User.User_State.US_Name }}]{{ value.User.U_SingaTure }}
