.friendGroup
  .group-header(@click='showMembers')
    img.icon(src='./lib/drop-down.svg' width='20' height='20' :class='{dropDown}')
    .group-name  {{ groupName }}

  .members
    transition(name='drop-down')
      .group-members(v-if='dropDown')
        .group-member(v-for='(value, key) in members' :key='key') {{ value }}