.userGroup
  .group-header(@click='toggleShow')
    img.icon(src='./lib/drop-down.svg' width='20' height='20' :class='{dropDown}')
    .group-name  {{ groupInfo.Group_Name }}

  .group-content
    transition(name='drop-down')
      .group-members(v-if='dropDown')
        .group-member(v-for='(value, key) in groupInfo.rows' :key='key')
          img.portrait(src='@@/image/yufou.png' width='48' height='48')
          .userInfo
            .username {{ value.UG_Name }}
            .singature {{ value.UG_Notice }}
