@mixin position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

#setting {
  @include position(0, 0, 0, 0);
  background: #f3f3f3;
  z-index: 2;

  .security {
    margin-top: 60px;
  }

  .logout {
    margin-top: 10px;
  }

}