div.Setting
  mt-index-list
    mt-index-section(index='A')
      mt-cell(title='Aaron')
      mt-cell(title='Alden')
      mt-cell(title='Austin')
    mt-index-section(index='B')
      mt-cell(title='Baldwin')
      mt-cell(title='Braden')
      mt-cell(title='Bule')
    mt-index-section(index='Z')
      mt-cell(title='Zack')
      mt-cell(title='Zane')
      mt-cell(title='Austin')