$tabbar: #fafafa;
$background: #f3f3f3;
$font: #2c3e50;
$green: #0cb93b;

$side: 0.75em;

@mixin position($top) {
  position: absolute;
  top: $top;
}

#FriendChatView {
  @include position(0);
  right: 0;
  bottom: 0;
  left: 0;
  background: $background;

}