#FriendChatView
  mt-header(fixed :title='friendName')
    mt-button(icon='back' slot='left' @click='jumpMessage') 消息
    img.user(src='image/chatView/user.svg' slot='right' width='24' height='24' @click='jumpUserDetail')

  chat-tools(:ration='24')
